.kml-label {

    background: transparent !important;

    border: none !important;

    box-shadow: none !important;

    white-space: nowrap;
}

.kml-label span {

    color: #000;

    font-size: 12px;

    font-weight: 600;

    text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px rgba(255,255,255,0.9);
}